<%- include('partials/header') %>

  <div class="error-page">
    <div class="error-content">
      <h1 class="error-title">Oops! Something went wrong.</h1>
      <p class="error-message">An error occurred while processing your request.</p>
      <button class="error-button" onclick="goBack()">Go Back</button>
    </div>
  </div>
  
<%- include('partials/footer') %>
